# Полезности про функции

Зачем они нужны
1. Позволяют не раздувать код основного цикла
2. Удобно тестируются вручную или с помощью pytest
3. Можно добавлять новые требования, условия, заводить их в другие функции
4. Если функций слишком много, то выносим их в отдельный файл. Импортируем с помощью import

In [ ]:
# значение параметра по умолчанию
def speed_limit_exceeded(current_speed, speed_limit=90):
    """Проверка превышена ли разрешенная скорость движения за городом"""
    
    return current_speed > speed_limit

In [ ]:
# проверка за городом (не трасса)

speed_limit_exceeded(current_speed=105)

In [ ]:
# проверка для скоростной трассы

speed_limit_exceeded(current_speed=105, speed_limit=110)

# Вспомним работу с файлами

Дан лог покупок transactions.tsv.

Первый столбец - дата покупки, второй - сумма. Разделитель табуляция.

Необходимо посчитать:

1. Сумму покупок за все дни

2. Среднюю стоимость одной покупки

3. В какой день была максимальная выручка?

In [1]:
total_sum = 0

with open('transactions.tsv', 'r') as f:
    for line in f:
        date, amount = line.strip().split('\t')
        print(date, amount)
        
        total_sum += int(amount)
        
total_sum

2019-01-01 78
2019-01-01 7
2019-01-01 67
2019-01-01 45
2019-01-01 26
2019-01-01 3
2019-01-01 18
2019-01-01 84
2019-01-01 46
2019-01-02 15
2019-01-02 67
2019-01-02 12
2019-01-02 18
2019-01-02 92
2019-01-02 38
2019-01-02 51
2019-01-02 52
2019-01-02 12
2019-01-03 59
2019-01-03 53
2019-01-03 52
2019-01-03 12
2019-01-03 56
2019-01-03 38
2019-01-03 81
2019-01-03 6
2019-01-03 35
2019-01-04 67
2019-01-04 63
2019-01-04 92
2019-01-04 34
2019-01-04 14
2019-01-04 85
2019-01-04 51
2019-01-04 81
2019-01-04 50
2019-01-05 11
2019-01-05 97
2019-01-05 84
2019-01-05 69
2019-01-05 93
2019-01-05 31
2019-01-05 4
2019-01-05 8
2019-01-05 43
2019-01-06 93
2019-01-06 94
2019-01-06 93
2019-01-06 58
2019-01-06 55
2019-01-06 96
2019-01-06 13
2019-01-06 3
2019-01-06 72
2019-01-07 37
2019-01-07 78
2019-01-07 27
2019-01-07 11
2019-01-07 85
2019-01-07 16
2019-01-07 13
2019-01-07 10
2019-01-07 34

2988

# Даты

In [ ]:
import datetime

In [3]:
from datetime import datetime

In [ ]:
date_string = '09.05.2018  09:00'

In [ ]:
# сейчас date_string это просто строка
type(date_string)

In [ ]:
datetime.strptime('09.05.2018Z09:00', '%d.%m.%YZ%H:%M')

In [ ]:
# https://docs.python.org/3/library/datetime.html

date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
date_datetime

In [ ]:
# теперь можем работать с датами
type(date_datetime)

In [ ]:
date_datetime.year, date_datetime.hour

### Упражнение
С помощью метода datetime.strptime переведите строку 'May 25 2017 5:00AM' в формат datetime.

In [4]:
date_str = "May 25 2017 5:00AM"
date_obj = datetime.strptime(date_str, '%B %d %Y %I:%M%p')

In [6]:
print(date_obj)

2017-05-25 05:00:00

In [13]:
date_obj.year

2017

### Прибавление интервала к датам

In [14]:
from datetime import timedelta

In [15]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [16]:
type(start_date)

str

In [17]:
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
start_date_datetime

datetime.datetime(2018, 1, 1, 0, 0)

In [18]:
start_date_datetime + timedelta(days=1)

datetime.datetime(2018, 1, 2, 0, 0)

In [19]:
start_date_datetime + timedelta(days=-7, minutes=1)

datetime.datetime(2017, 12, 25, 0, 1)

### Упражнение
Дана дата в формате '2018-09-01T09:30:00'. Прибавьте к ней 12 часов 15минут и 3 секунды.

In [20]:
date_str = '2018-09-01T09:30:00'
date_obj = datetime.strptime(date_str, '%Y-%m-%dT%H:%M:%S')

In [23]:
new_date = date_obj + timedelta(hours=12, minutes=15,seconds=3)

In [24]:
new_date

datetime.datetime(2018, 9, 1, 21, 45, 3)

### Перевод обратно в строку

In [25]:
date = datetime(2018, 9, 1)
date

datetime.datetime(2018, 9, 1, 0, 0)

In [26]:
date.strftime('%Y-%m-%d')

'2018-09-01'

In [27]:
date.strftime('%B %d %Y %I:%M%p')

'September 01 2018 12:00AM'

In [28]:
# внезапно

date.strftime('%Y-%m-01')

'2018-09-01'

In [30]:
start_date, end_date

('2018-01-01', '2018-01-07')

In [31]:
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

print(start_date_dt, end_date_dt)

2018-01-01 00:00:00 2018-01-07 00:00:00

In [32]:
i = 0

while i < 10:
    # ...
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07

### Упражнение
Напишите алгоритм, который "пробегает" период 1 до 7 сентября по часам. Формат вывода '06.01.2018 23:00:00'.

In [34]:
start_date, end_date = '2018-09-01', '2018-09-07'

In [35]:
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

In [39]:
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%d.%m.%Y %H:%M:%S'))
    
    current_dt += timedelta(hours=1)

01.09.2018 00:00:00
01.09.2018 01:00:00
01.09.2018 02:00:00
01.09.2018 03:00:00
01.09.2018 04:00:00
01.09.2018 05:00:00
01.09.2018 06:00:00
01.09.2018 07:00:00
01.09.2018 08:00:00
01.09.2018 09:00:00
01.09.2018 10:00:00
01.09.2018 11:00:00
01.09.2018 12:00:00
01.09.2018 13:00:00
01.09.2018 14:00:00
01.09.2018 15:00:00
01.09.2018 16:00:00
01.09.2018 17:00:00
01.09.2018 18:00:00
01.09.2018 19:00:00
01.09.2018 20:00:00
01.09.2018 21:00:00
01.09.2018 22:00:00
01.09.2018 23:00:00
02.09.2018 00:00:00
02.09.2018 01:00:00
02.09.2018 02:00:00
02.09.2018 03:00:00
02.09.2018 04:00:00
02.09.2018 05:00:00
02.09.2018 06:00:00
02.09.2018 07:00:00
02.09.2018 08:00:00
02.09.2018 09:00:00
02.09.2018 10:00:00
02.09.2018 11:00:00
02.09.2018 12:00:00
02.09.2018 13:00:00
02.09.2018 14:00:00
02.09.2018 15:00:00
02.09.2018 16:00:00
02.09.2018 17:00:00
02.09.2018 18:00:00
02.09.2018 19:00:00
02.09.2018 20:00:00
02.09.2018 21:00:00
02.09.2018 22:00:00
02.09.2018 23:00:00
03.09.2018 00:00:00
03.09.2018 01:00:00
03.09.2018 02:00:00
03.09.2018 03:00:00
03.09.2018 04:00:00
03.09.2018 05:00:00
03.09.2018 06:00:00
03.09.2018 07:00:00
03.09.2018 08:00:00
03.09.2018 09:00:00
03.09.2018 10:00:00
03.09.2018 11:00:00
03.09.2018 12:00:00
03.09.2018 13:00:00
03.09.2018 14:00:00
03.09.2018 15:00:00
03.09.2018 16:00:00
03.09.2018 17:00:00
03.09.2018 18:00:00
03.09.2018 19:00:00
03.09.2018 20:00:00
03.09.2018 21:00:00
03.09.2018 22:00:00
03.09.2018 23:00:00
04.09.2018 00:00:00
04.09.2018 01:00:00
04.09.2018 02:00:00
04.09.2018 03:00:00
04.09.2018 04:00:00
04.09.2018 05:00:00
04.09.2018 06:00:00
04.09.2018 07:00:00
04.09.2018 08:00:00
04.09.2018 09:00:00
04.09.2018 10:00:00
04.09.2018 11:00:00
04.09.2018 12:00:00
04.09.2018 13:00:00
04.09.2018 14:00:00
04.09.2018 15:00:00
04.09.2018 16:00:00
04.09.2018 17:00:00
04.09.2018 18:00:00
04.09.2018 19:00:00
04.09.2018 20:00:00
04.09.2018 21:00:00
04.09.2018 22:00:00
04.09.2018 23:00:00
05.09.2018 00:00:00
05.09.2018 01:00:00
05.09.2018 02:00:00
05.09.2018 03:00:00
05.09.2018 04:00:00
05.09.2018 05:00:00
05.09.2018 06:00:00
05.09.2018 07:00:00
05.09.2018 08:00:00
05.09.2018 09:00:00
05.09.2018 10:00:00
05.09.2018 11:00:00
05.09.2018 12:00:00
05.09.2018 13:00:00
05.09.2018 14:00:00
05.09.2018 15:00:00
05.09.2018 16:00:00
05.09.2018 17:00:00
05.09.2018 18:00:00
05.09.2018 19:00:00
05.09.2018 20:00:00
05.09.2018 21:00:00
05.09.2018 22:00:00
05.09.2018 23:00:00
06.09.2018 00:00:00
06.09.2018 01:00:00
06.09.2018 02:00:00
06.09.2018 03:00:00
06.09.2018 04:00:00
06.09.2018 05:00:00
06.09.2018 06:00:00
06.09.2018 07:00:00
06.09.2018 08:00:00
06.09.2018 09:00:00
06.09.2018 10:00:00
06.09.2018 11:00:00
06.09.2018 12:00:00
06.09.2018 13:00:00
06.09.2018 14:00:00
06.09.2018 15:00:00
06.09.2018 16:00:00
06.09.2018 17:00:00
06.09.2018 18:00:00
06.09.2018 19:00:00
06.09.2018 20:00:00
06.09.2018 21:00:00
06.09.2018 22:00:00
06.09.2018 23:00:00
07.09.2018 00:00:00

### Нагрузка на систему по часам

In [ ]:
stats = {}

with open('logs.csv', 'r') as f:
    for line in f:
        line = line.strip()
        print(line)
        
        dt = datetime.strptime(line, '%Y-%m-%dT%H:%M:%SZ')
        print(dt)
        break
        
        # вычисления нагрузки на систему...
        
# результат
stats

In [ ]:
# а в процентном соотношении?

###  Unixtime
Количество секунд, прошедших с 1 января 1970 года по UTC

In [ ]:
import time
from datetime import date
from datetime import datetime

In [ ]:
d = date(2019, 3, 11)

unixtime = time.mktime(d.timetuple())
unixtime

In [ ]:
from datetime import datetime

In [ ]:
datetime.fromtimestamp(1552251600)

На практике все сложнее https://habr.com/ru/post/452584/

# Обработка ошибок

In [ ]:
some_num = '123'

In [ ]:
float(some_num)

In [ ]:
ups = '123a'

In [ ]:
float(ups)

In [ ]:
try:
    float(ups)

except Exception as e:
    print(e)
    
print('Проехали')

In [ ]:
ups = '123fff'

In [ ]:
# полная версия traceback
import traceback

try:
    float(ups)

except Exception:
    print(traceback.print_exc())
    
print('Проехали')

### Более жизненный пример

In [ ]:
with open('real_data.txt', 'r') as f:
    for line in f:
        print(line.strip())

In [ ]:
import logging

Чем прекрасен этот файл:
1. Даты имеют разный формат: за 8 и 9 октября формат с "09.10.2016 21:40" сменился на "09.10.2016T 21:40:00" (добавилась буква T и секунды). Разработчики объяснили этот тем, что сбились настройки в базе данных.
2. У покупок некоторых пользователей неизвестно значение выручки, из-за чего количество столбцов в строке уменьшается на один.
3. У некоторых строк реальная сумма покупки умножена на миллион. Так иногда действительно делают, чтобы избежать дробных чисел и работать только с целыми. Разработчикам просто так удобнее.

In [ ]:
def make_datetime_normal(dt):
    """Перевод даты покупки в формат %Y-%m-%d"""
    
    date_datetime = datetime.strptime(dt, '%d.%m.%y %H:%M')
    return date_datetime.strftime('%Y-%m-%d')

In [ ]:
make_datetime_normal('05.10.16 23:18')

In [ ]:
make_datetime_normal('08.10.2016T 16:46:00')

### Упражнение
Создайте словарь stats = {'monday': 100, 'tuesday': 200}. 

Какой тип ошибки вызовет обращение stats['wednesday']?

In [ ]:
def make_datetime_normal(date_string):
    """Перевод даты покупки в формат %Y-%m-%d"""

    try:
        # пробуем расшифровать дату в формате '%d.%m.%Y %H:%M'
        date_datetime = datetime.strptime(date_string, '%d.%m.%Y %H:%M')

    except ValueError:

        # пробуем расшифровать дату в формате '%d.%m.%YT %H:%M:%S'
        try:
            date_datetime = datetime.strptime(date_string, '%d.%m.%YT %H:%M:%S')

        except:
            print('Warning! bad line')
            # ни один из известных форматов не подошел, возвращаем 'undefined'
            return 'undefined'

    return date_datetime.strftime('%Y-%m-%d')

In [ ]:
make_datetime_normal('05.10.2016 23:18')

In [ ]:
make_datetime_normal('08.10.2016T 16:46:00')

In [ ]:
make_datetime_normal('08.10.2016T16:46:00Z')

### Упражнение
Посчитайте сумму третьего столбца с файле real_data.txt. Считайте, что если значение больше 1000, значит оно было умножено на миллион.

# YAML-формат
Неочевидные приемы https://habr.com/post/270097/

In [ ]:
!pip install pyyaml

In [ ]:
from yaml import load

In [ ]:
config = load( open('config.yaml') )
config

In [ ]:
config['cities']

In [ ]:
config['accounts']['vk']['password']

In [ ]:
config['cities']

In [ ]:
list_of_cities = config['cities']
list_of_cities

In [ ]:
config['accounts']

In [ ]:
vk_username = config['accounts']['vk']['username']
vk_username

In [ ]:
for city in config['cities']:
    print(city)

### Упражнение
Вам необходимо написать YAML-файл с параметрами для выгрузки данных. Как бы вы организовали такой файл?

1. Выгрузка происходит из нескольких систем (vk, mytarget, dbm).

2. У каждой системы есть несколько аккаунтов (account1, account2, ...). 

3. Для выгрузки данных из каждого аккаунта есть своя пара ключей приложения client_id и client_secret.

4. Также у каждого аккаунта есть набор клиентов (client1, client2, ...), у каждого из которых есть свой логин и refresh_token.